# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Windows junk
Thumbs.db
desktop.ini

# Virtual environment
venv/

# VS Code settings
.vscode/

# Environment variables (if used)
.env

# macOS junk
.DS_Store

# Log or test output (if you add later)
*.log